body{
  background-image: url('/imagens/nascimento.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav{

  display: flex;
  width: 150;
  height: 150;  

}